// Academy course

.main.col-960-1-1
  .main-box.col-960-1-1
    - if object.title.presence
      .main-item.col-960-1-1
        %h1= object.title
    - if object.description.presence
      .main-item.col-960-1-1
        .trix.medium
          = safe_join([object.description.html_safe])
  .main-box.col-960-1-1
    .main-item.col-960-4-1
      .menu-aside
        .menu-aside-box
          - if object.document_box_magensinus.presence
            .menu-aside-item
              - if object.enrollment_status_label.presence
                = link_to object.enrollment_status_label, object.document_box_magensinus.url.to_s, class: "button tiny green left wide", target: "_blank"
              - else
                = link_to "Descarregar PDF", object.document_box_magensinus.url.to_s, class: "button tiny green left wide", target: "_blank"
          - if object.enrollment_status == true
            .menu-aside-item
              = link_to "Pré-inscrição", category_enrollments_path(parent), class: "button tiny green left wide"
    - if object.misc.presence
      .main-item.col-960-4-3
        .misc
          .misc-box
            .misc-item
              .trix.small.misc
                = safe_join([object.misc.html_safe])
